.withoutDrag {
  -webkit-app-region: no-drag;
}

.withDrag {
  -webkit-app-region: drag;
}

.main {
  display: flex;
  height: 100%;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.onlineModelsContainer {
  display: flex;
  height: 100%;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}