output/
build/
target/
third_party/
node_modules
.idea/
/.vscode
/synvek_web/.env.local
/synvek_web/.idea
/synvek_web/.mfsu
/synvek_web/.umi
/synvek_web/.umi-production
/synvek_web/.umi-test
/synvek_web/backup
/synvek_web/app/node_modules
/synvek_web/app/dist
/synvek_web/app/build
/synvek_web/build
/synvek_web/dist
/synvek_web/src/.umi
/synvek_web/src/.umi-production
/synvek_web/src/.umi-test
/synvek_agent/.idea
/synvek_agent/build
/synvek_agent/models
/synvek_agent/node_modules
/synvek_service/.idea
/synvek_service/logs
/synvek_service/models
/synvek_service/target
/synvek_servicedata/
/synvek_servicestorage/
/synvek_serviceagent_plugins/
/synvek_engine/.idea
/synvek_engine/target
/synvek_explorer/.idea
/synvek_explorer/logs
/synvek_explorer/models
/synvek_explorer/target
