.generalSettingPanel {
  width: 100%;
  height: 100%;
}

.generalSettingContent {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color-elevated);
}

.generalSettingItemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
