name: Build synvek on linux

on:
  workflow_dispatch:
  workflow_call:


jobs:
  build-linux:
    name: Build on linux
    runs-on: ubuntu-22.04
    env:
      VULKAN_SDK_VERSION: "1.4.321.1"

    steps:
    - name: Initialize & Cleanup
      run: |
        sudo apt update
        sudo apt install libglib2.0-dev  libgdk-pixbuf2.0-dev libgtk-3-dev  libjavascriptcoregtk-4.1-dev libsoup-3.0-dev libwebkit2gtk-4.1-dev libclang-dev libssl-dev mesa-vulkan-drivers vulkan-tools libvulkan-dev libxcb-xinput0 libxcb-xinerama0 libxcb-cursor-dev 
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;

    - name: Disk space check
      run: |
        df

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive    

    - name: Prepare for build
      run: |
        mkdir output

    - name: Disk space after code checkout
      run: |
        df

    - name: Install CUDA
      uses: Jimver/cuda-toolkit@v0.2.28
      with:
        cuda: 12.9.1
        method: local
        linux-local-args: '["--toolkit"]'

    - name: Verify Cuda
      run: |
        nvcc --version

    - name: Cleanup for tools
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;

    - name: Disk space before code checkout
      run: |
        df

    - name: Configure and build backend-> llama.cpp cuda 
      run: |
        cmake -S third_party/llama.cpp -B build/llama.cpp/build_cuda -DGGML_CUDA=ON -DCMAKE_CUDA_ARCHITECTURES="50;52;61;75;86;89;90-virtual" -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_cuda --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp cuda 
      run: |
        cp build/llama.cpp/build_cuda/bin/libsynvek_backend_llama.so output/ 
        mv output/libsynvek_backend_llama.so output/libsynvek_backend_llama_cuda.so 
        rm -rf  build/llama.cpp/build_cuda

    - name: Disk space after build backend-> llama.cpp cuda 
      run: |
        df

    - name: Configure and build backend-> stable-diffusion.cpp cuda 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_cuda -DSD_CUDA=ON  -DCMAKE_CUDA_ARCHITECTURES="50;52;61;75;86;89;90-virtual" -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_cuda --config Release --target synvek_backend_sd -j  4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp cuda 
      run: |
        cp build/stable-diffusion.cpp/build_cuda/bin/libsynvek_backend_sd.so output/ 
        mv output/libsynvek_backend_sd.so output/libsynvek_backend_sd_cuda.so 
        rm -rf  build/stable-diffusion.cpp/build_cuda

    - name: Disk space after build backend-> stable-diffusion.cpp cuda 
      run: |
        df
       
    - name: Configure and build backend-> mistral.rs cuda 
      run: |
        export CUDA_COMPUTE_CAP=86
        cargo build --profile release --target-dir build/mistral.rs/build_cuda --manifest-path third_party/mistral.rs/Cargo.toml --features "cuda" --package mistralrs-server --lib

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> mistral.rs cuda 
      run: |
        cp build/mistral.rs/build_cuda/release/libsynvek_backend_default.so output/ 
        mv output/libsynvek_backend_default.so output/libsynvek_backend_default_cuda.so 
        rm -rf  build/mistral.rs/build_cuda

    - name: Disk space after build backend-> mistral.rs cuda 
      run: |
        df

    - name: Configure and build backend-> mistral.rs cuda legacy
      run: |
        export CUDA_COMPUTE_CAP=75
        cargo build --profile release --target-dir build/mistral.rs/build_cuda_legacy --manifest-path third_party/mistral.rs/Cargo.toml --features "cuda" --package mistralrs-server --lib

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> mistral.rs cuda legacy 
      run: |
        cp build/mistral.rs/build_cuda_legacy/release/libsynvek_backend_default.so output/ 
        mv output/libsynvek_backend_default.so output/libsynvek_backend_default_cuda_legacy.so 
        rm -rf  build/mistral.rs/build_cuda_legacy

    - name: Disk space after build backend-> mistral.rs cuda legacy
      run: |
        df

    - name: Remove cuda for dispace
      run: |
        dpkg -l | grep cuda || true

        sudo apt purge --autoremove -y "*cuda*" "*cudnn*" "*nvidia*"

        sudo rm -rf /usr/local/cuda*
        sudo rm -rf /opt/nvidia/

        if ! command -v nvcc &> /dev/null; then
          echo "Cuda is removed"
        else
          echo "nvcc still exists"
        fi

    - name: Disk space after Remove cuda
      run: |
        df
    
    - name: Install Vulkan SDK
      run: |
        wget https://sdk.lunarg.com/sdk/download/${{ env.VULKAN_SDK_VERSION }}/linux/vulkansdk-linux-x86_64-${{ env.VULKAN_SDK_VERSION }}.tar.xz
        tar -xf vulkansdk-linux-x86_64-${{ env.VULKAN_SDK_VERSION }}.tar.xz
        sudo mkdir -p /opt/vulkan
        rm vulkansdk-linux-x86_64-${{ env.VULKAN_SDK_VERSION }}.tar.xz
        sudo mv ${{ env.VULKAN_SDK_VERSION }}  /opt/vulkan/

        echo "VULKAN_SDK=/opt/vulkan/${{ env.VULKAN_SDK_VERSION }}/x86_64" >> $GITHUB_ENV
        echo "PATH=/opt/vulkan/${{ env.VULKAN_SDK_VERSION }}/x86_64/bin:$PATH" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=/opt/vulkan/${{ env.VULKAN_SDK_VERSION }}/x86_64/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "VK_LAYER_PATH=/opt/vulkan/${{ env.VULKAN_SDK_VERSION }}/x86_64/share/vulkan/explicit_layer.d" >> $GITHUB_ENV
        echo "VK_ADD_LAYER_PATH=/opt/vulkan/${{ env.VULKAN_SDK_VERSION }}/x86_64/share/vulkan/explicit_layer.d" >> $GITHUB_ENV

    - name: Verify Vulkan SDK
      run: |
        which glslc
        glslc --version
        pkg-config --cflags --libs vulkan
        which vulkaninfo
        vulkaninfo

    - name: Disk space check
      run: |
        df

    - name: Cleanup for tools
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;

    - name: Disk space check
      run: |
        df

    - name: Configure and build backend-> llama.cpp vulkan 
      run: |
        cmake -S third_party/llama.cpp -B build/llama.cpp/build_vulkan -DGGML_VULKAN=ON -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_vulkan --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp vulkan 
      run: |
        cp build/llama.cpp/build_vulkan/bin/libsynvek_backend_llama.so output/ 
        mv output/libsynvek_backend_llama.so output/libsynvek_backend_llama_vulkan.so 
        rm -rf  build/llama.cpp/build_vulkan

    - name: Disk space after build backend-> llama.cpp vulkan 
      run: |
        df

    - name: Configure and build backend-> stable-diffusion.cpp vulkan 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_vulkan -DSD_VULKAN=ON -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_vulkan --config Release --target synvek_backend_sd -j  4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp vulkan 
      run: |
        cp build/stable-diffusion.cpp/build_vulkan/bin/libsynvek_backend_sd.so output/ 
        mv output/libsynvek_backend_sd.so output/libsynvek_backend_sd_vulkan.so 
        rm -rf  build/stable-diffusion.cpp/build_vulkan

    - name: Disk space after build backend-> stable-diffusion.cpp vulkan 
      run: |
        df

    - name: Release diskspace of Vulkan SDK
      run: |
        rm -rf /opt/vulkan

    - name: Disk space check after removing Vulkan 
      run: |
        df
       
    - name: Configure and build backend-> llama.cpp cpu 
      run: |
        cmake -S third_party/llama.cpp  -B build/llama.cpp/build_cpu -DGGML_METAL=OFF  -DBUILD_SHARED_LIBS=OFF  -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_cpu --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp cpu 
      run: |
        cp build/llama.cpp/build_cpu/bin/libsynvek_backend_llama.so output/ 
        mv output/libsynvek_backend_llama.so output/libsynvek_backend_llama_cpu.so 
        rm -rf  build/llama.cpp/build_cpu

    - name: Disk space after build backend-> llama.cpp cpu 
      run: |
        df

    - name: Configure and build backend-> stable-diffusion.cpp cpu 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_cpu -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_cpu --config Release --target synvek_backend_sd -j 4 

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp cpu 
      run: |
        cp build/stable-diffusion.cpp/build_cpu/bin/libsynvek_backend_sd.so output/ 
        mv output/libsynvek_backend_sd.so output/libsynvek_backend_sd_cpu.so 
        rm -rf  build/stable-diffusion.cpp/build_cpu

    - name: Disk space after build backend-> stable-diffusion.cpp cpu 
      run: |
        df
     
    - name: Configure and build backend-> mistral.rs cpu 
      run: |
        cargo build --profile release --target-dir build/mistral.rs/build_cpu --manifest-path third_party/mistral.rs/Cargo.toml --package mistralrs-server --lib

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> mistral.rs cpu 
      run: |
        cp build/mistral.rs/build_cpu/release/libsynvek_backend_default.so output/ 
        mv output/libsynvek_backend_default.so output/libsynvek_backend_default_cpu.so 
        rm -rf  build/mistral.rs/build_cpu

    - name: Disk space after build backend-> mistral.rs.cpp cpu 
      run: |
        df
        
    - name: Configure and build synvek_web
      run: |
        npm install
        npm run desktop:build
      working-directory: ./synvek_web

    - name: Cleanup for synvek_web
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;
        npm cache clean --force
        rm -rf synvek_web/node_modules

    - name: Disk space after build synvek_web
      run: |
        df


    - name: Install Deno
      run: |
        curl -fsSL https://deno.land/install.sh | sh
        echo "$HOME/.deno/bin" >> $GITHUB_PATH

    - name: Configure and build synvek_agent
      run: |
        deno install --allow-scripts=npm:ssh2@1.16.0
        deno run --unstable-sloppy-imports --unstable-worker-options  --allow-run --allow-env --allow-sys --allow-net --allow-read --allow-write  ./src/Build.ts
      working-directory: ./synvek_agent

    - name: Cleanup for synvek_agent
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;
        npm cache clean --force
        deno clean
        rm -rf synvek_web/node_modules

    - name: Disk space after build synvek_agent
      run: |
        df

    - name: Copy reasources for synvek_explorer
      run: |
        cp -r synvek_service/agent_plugins output 
        cp -r synvek_service/config output 
        cp -r synvek_service/service_plugins output 
        cp -r synvek_service/storage output 

    - name: Copy artifacts for mistral rs cuda
      run: |
        df

    - name: Configure and build synvek_explorer
      run: |
        cargo install tauri-cli --version "^2.0.0" --locked
        cargo tauri build
      working-directory: ./synvek_explorer

    - name: Disk space after build synvek_explorer
      run: |
        df

    - name: Copy artifacts
      run: |
        mkdir artifacts
        cp synvek_explorer/target/release/bundle/deb/*.deb artifacts

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: synvek-explorer-artifacts-linux
        path: artifacts
        retention-days: 7       