name: Build synvek on linux

on:
  workflow_dispatch:

jobs:
  build-linux:
    name: Build on linux
    runs-on: ubuntu-22.04

    steps:
    - name: Initialize & Cleanup
      run: |
        sudo apt update
        sudo apt install libglib2.0-dev  libgdk-pixbuf2.0-dev libgtk-3-dev  libjavascriptcoregtk-4.1-dev libsoup-3.0-dev libwebkit2gtk-4.1-dev libclang-dev libssl-dev
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;

    - name: Disk space check
      run: |
        df

    - name: Install CUDA
      uses: Jimver/cuda-toolkit@v0.2.28
      with:
        cuda: 12.9.1
        method: network
        linux-local-args: '[["--toolkit"]]'

    - name: Install Deno
      run: |
        curl -fsSL https://deno.land/install.sh | sh
        echo "$HOME/.deno/bin" >> $GITHUB_PATH
    
    - name: Cleanup for tools
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;
        npm cache clean --force
        deno clean

    - name: Verify Cuda
      run: |
        nvcc --version

    - name: Disk space before code checkin
      run: |
        df

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive    

    - name: Disk space after code checkin
      run: |
        df

    - name: Configure and build backend-> llama.cpp cuda 
      run: |
        cmake -S third_party/llama.cpp -B build/llama.cpp/build_cuda -DGGML_CUDA=ON -DCMAKE_CUDA_ARCHITECTURES="86-virtual" -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_cuda --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp cuda 
      run: |
        mkdir output
        cp build/llama.cpp/build_cuda/bin/libsynvek_backend_llama.so output/ 
        mv output/libsynvek_backend_llama.so output/libsynvek_backend_llama_cuda.so 
        rm -rf  build/llama.cpp/build_cuda

    - name: Disk space after build backend-> llama.cpp cuda 
      run: |
        df

    - name: Configure and build backend-> llama.cpp cpu 
      run: |
        cmake -S third_party/llama.cpp  -B build/llama.cpp/build_cpu -DGGML_METAL=OFF  -DBUILD_SHARED_LIBS=OFF  -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_cpu --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp cpu 
      run: |
        cp build/llama.cpp/build_cpu/bin/libsynvek_backend_llama.so output/ 
        mv output/libsynvek_backend_llama.so output/libsynvek_backend_llama_cpu.so 
        rm -rf  build/llama.cpp/build_cpu

    - name: Disk space after build backend-> llama.cpp cpu 
      run: |
        df

    - name: Configure and build backend-> stable-diffusion.cpp cuda 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_cuda -DSD_CUDA=ON  -DCMAKE_CUDA_ARCHITECTURES="86-virtual" -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_cuda --config Release --target synvek_backend_sd -j  4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp cuda 
      run: |
        cp build/stable-diffusion.cpp/build_cuda/bin/libsynvek_backend_sd.so output/ 
        mv output/libsynvek_backend_sd.so output/libsynvek_backend_sd_cuda.so 
        rm -rf  build/stable-diffusion.cpp/build_cuda

    - name: Disk space after build backend-> stable-diffusion.cpp cuda 
      run: |
        df
        
    - name: Configure and build backend-> stable-diffusion.cpp cpu 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_cpu -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_cpu --config Release --target synvek_backend_sd -j 4 

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp cpu 
      run: |
        cp build/stable-diffusion.cpp/build_cpu/bin/libsynvek_backend_sd.so output/ 
        mv output/libsynvek_backend_sd.so output/libsynvek_backend_sd_cpu.so 
        rm -rf  build/stable-diffusion.cpp/build_cpu

    - name: Disk space after build backend-> stable-diffusion.cpp cpu 
      run: |
        df
        
    - name: Configure and build backend-> mistral.rs cpu 
      run: |
        cargo build --profile release --target-dir build/mistral.rs/build_cpu --manifest-path third_party/mistral.rs/Cargo.toml --package mistralrs-server --lib

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> mistral.rs cpu 
      run: |
        cp build/mistral.rs/build_cpu/release/libsynvek_backend_default.so output/ 
        mv output/libsynvek_backend_default.so output/libsynvek_backend_default_cpu.so 
        rm -rf  build/mistral.rs/build_cpu

    - name: Disk space after build backend-> mistral.rs.cpp cpu 
      run: |
        df
        
    - name: Remove cuda for dispace
      run: |
        dpkg -l | grep cuda || true

        sudo apt purge --autoremove -y "*cuda*" "*cudnn*" "*nvidia*"

        sudo rm -rf /usr/local/cuda*
        sudo rm -rf /opt/nvidia/

        if ! command -v nvcc &> /dev/null; then
          echo "Cuda is removed"
        else
          echo "nvcc still exists"
        fi

    - name: Disk space after Remove cuda
      run: |
        df

    - name: Configure and build synvek_web
      run: |
        npm install
        npm run desktop:build
      working-directory: ./synvek_web

    - name: Cleanup for synvek_web
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;
        npm cache clean --force
        rm -rf synvek_web/node_modules

    - name: Disk space after build synvek_web
      run: |
        df

    - name: Configure and build synvek_agent
      run: |
        deno install --allow-scripts=npm:ssh2@1.16.0
        deno run --unstable-sloppy-imports --unstable-worker-options  --allow-run --allow-env --allow-sys --allow-net --allow-read --allow-write  ./src/Build.ts
      working-directory: ./synvek_agent

    - name: Cleanup for synvek_agent
      run: |
        sudo apt clean        
        sudo rm -rf /tmp/*
        sudo rm -rf /var/tmp/*        
        sudo find /var/log -type f -name "*.log" -exec truncate -s 0 {} \;
        npm cache clean --force
        deno clean
        rm -rf synvek_web/node_modules

    - name: Disk space after build synvek_agent
      run: |
        df

    - name: Copy reasources for synvek_explorer
      run: |
        cp -r synvek_service/agent_plugins output 
        cp -r synvek_service/config output 
        cp -r synvek_service/service_plugins output 
        cp -r synvek_service/storage output 

    #curl -L -o output/my_app.zip "https://github.com/synvek/mistral.rs/releases/download/v1.0.0/my_app.zip"
    - name: Copy artifacts for mistral rs cuda
      run: |
        df


    - name: Configure and build synvek_explorer
      run: |
        cargo install tauri-cli --version "^2.0.0" --locked
        cargo tauri build
      working-directory: ./synvek_explorer

    - name: Disk space after build synvek_agent
      run: |
        df

    - name: Copy artifacts
      run: |
        mkdir artifacts
        cp synvek_explorer/target/release/bundle/deb/*.deb artifacts

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: synvek-explorer-artifacts-linux
        path: artifacts
        retention-days: 7       