name: Build synvek on macos

on:
  workflow_dispatch:

jobs:
  build-linux:
    name: Build on macos
    runs-on: macos-latest

    steps:

    - name: Disk space check
      run: |
        df

    - name: Install Deno
      run: |
        curl -fsSL https://deno.land/install.sh | sh
        echo "$HOME/.deno/bin" >> $GITHUB_PATH
    
    - name: Cleanup for tools
      run: |
        npm cache clean --force
        deno clean

    - name: Disk space before code checkin
      run: |
        df

    - name: Prepare for synvek_explorer
      run: |
        mkdir output

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive    

    - name: Disk space after code checkin
      run: |
        df

    - name: Configure and build backend-> llama.cpp metal 
      run: |
        cmake -S third_party/llama.cpp -B build/llama.cpp/build_metal -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_metal --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp metal 
      run: |
        cp build/llama.cpp/build_metal/bin/libsynvek_backend_llama.so output 
        mv output/libsynvek_backend_llama.so libsynvek_backend_llama_metal.so 
        rm -rf  build/llama.cpp/build_metal

    - name: Disk space after build backend-> llama.cpp metal 
      run: |
        df

    - name: Configure and build backend-> llama.cpp cpu 
      run: |
        cmake -S third_party/llama.cpp  -B build/llama.cpp/build_cpu -DGGML_METAL=OFF  -DBUILD_SHARED_LIBS=OFF  -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/llama.cpp/build_cpu --config Release --target synvek_backend_llama -j 4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> llama.cpp cpu 
      run: |
        cp build/llama.cpp/build_cpu/bin/libsynvek_backend_llama.so output 
        rn output/libsynvek_backend_llama.so libsynvek_backend_llama_cpu.so 
        rm -rf  build/llama.cpp/build_cpu

    - name: Disk space after build backend-> llama.cpp cpu 
      run: |
        df

    - name: Configure and build backend-> stable-diffusion.cpp metal 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_metal -DSD_METAL=ON -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_metal --config Release --target synvek_backend_sd -j  4

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp metal 
      run: |
        cp build/stable-diffusion.cpp/build_metal/bin/libsynvek_backend_sd.so output 
        mv output/libsynvek_backend_sd.so libsynvek_backend_sd_metal.so 
        rm -rf  build/stable-diffusion.cpp/build_metal

    - name: Disk space after build backend-> stable-diffusion.cpp metal 
      run: |
        df
        
    - name: Configure and build backend-> stable-diffusion.cpp cpu 
      run: |
        cmake -S third_party/stable-diffusion.cpp  -B build/stable-diffusion.cpp/build_cpu -DCMAKE_POSITION_INDEPENDENT_CODE=ON
        cmake --build build/stable-diffusion.cpp/build_cpu --config Release --target synvek_backend_sd -j 4 

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> stable-diffusion.cpp cpu 
      run: |
        cp build/stable-diffusion.cpp/build_cpu/bin/libsynvek_backend_sd.so output 
        mv output/libsynvek_backend_sd.so libsynvek_backend_sd_cpu.so 
        rm -rf  build/stable-diffusion.cpp/build_cpu

    - name: Disk space after build backend-> stable-diffusion.cpp cpu 
      run: |
        df
        
    - name: Configure and build backend-> mistral.rs metal 
      run: |
        cargo build --profile release --target-dir build/mistral.rs/build_metal --manifest-path third_party/mistral.rs/Cargo.toml --package mistralrs-server --features "metal" --lib

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> mistral.rs cpu 
      run: |
        cp build/mistral.rs/build_metal/libsynvek_backend_default.so output 
        mv output/libsynvek_backend_default.so libsynvek_backend_default_metal.so 
        rm -rf  build/mistral.rs/build_metal

    - name: Disk space after build backend-> mistral.rs.cpp metal 
      run: |
        df

    - name: Configure and build backend-> mistral.rs cpu 
      run: |
        cargo build --profile release --target-dir build/mistral.rs/build_cpu --manifest-path third_party/mistral.rs/Cargo.toml --package mistralrs-server --lib

    - name: Copy & cleanup reasources for synvek_explorer on build backend-> mistral.rs cpu 
      run: |
        cp build/mistral.rs/build_cpu/libsynvek_backend_default.so output 
        mv output/libsynvek_backend_default.so libsynvek_backend_default_cpu.so 
        rm -rf  build/mistral.rs/build_cpu

    - name: Disk space after build backend-> mistral.rs.cpp mecputal 
      run: |
        df
        
    - name: Configure and build synvek_web
      run: |
        npm install
        npm run desktop:build
      working-directory: ./synvek_web

    - name: Cleanup for synvek_web
      run: |
        npm cache clean --force
        rm -rf synvek_web/node_modules

    - name: Disk space after build synvek_web
      run: |
        df

    - name: Configure and build synvek_agent
      run: |
        deno install --allow-scripts=npm:ssh2@1.16.0
        deno run --unstable-sloppy-imports --unstable-worker-options  --allow-run --allow-env --allow-sys --allow-net --allow-read --allow-write  ./src/Build.ts
      working-directory: ./synvek_agent

    - name: Cleanup for synvek_agent
      run: |
        npm cache clean --force
        deno clean
        rm -rf synvek_web/node_modules

    - name: Disk space after build synvek_agent
      run: |
        df

    - name: Copy reasources for synvek_explorer
      run: |
        cp synvek_service/agent_plugins output 
        cp synvek_service/config output 
        cp synvek_service/service_plugins output 
        cp synvek_service/storage output 

    - name: Configure and build synvek_explorer
      run: |
        cargo tauri build
      working-directory: ./synvek_explorer

    - name: Disk space after build synvek_agent
      run: |
        df

    - name: Copy artifacts
      run: |
        mkdir artifacts
        cp synvek_explorer/target/libbundle artifacts /Y

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: synvek-explorer-artifacts-linux
        path: artifacts
        retention-days: 7       