name: Make synvek release

on:
    workflow_dispatch:
      inputs:
        release_tag:
          description: 'Tag for new release'
          required: true
          type: string

jobs:
  build-windows:
    uses: ./.github/workflows/build-windows.yml

  build-linux:
    uses: ./.github/workflows/build-linux.yml

  build-macos-arm64:
    uses: ./.github/workflows/build-macos.yml
    secrets: 
      APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
      APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
      APPLE_TEAM_ID : ${{ secrets.APPLE_TEAM_ID  }}
      APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}

  build-macos-intel:
    uses: ./.github/workflows/build-macos-intel.yml
    secrets: 
      APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
      APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
      APPLE_TEAM_ID : ${{ secrets.APPLE_TEAM_ID  }}
      APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}

  main-job:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    needs: 
      - build-windows
      - build-linux
      - build-macos-arm64
      - build-macos-intel

    steps:
      - name: Disk space check
        run: |
          df

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Process artifacts
        run: |
          mkdir -p artifacts/release
          mv artifacts/synvek-explorer-artifacts-macos/* artifacts/release/
          mv artifacts/synvek-explorer-artifacts-macos-intel/* artifacts/release/
          mv artifacts/synvek-explorer-artifacts-linux/* artifacts/release/
          mv artifacts/synvek-explorer-artifacts-windows/* artifacts/release/

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{inputs.release_tag}}
          commit: "main"
          allowUpdates: true
          draft: true
          prerelease: true
          artifacts: "artifacts/release/*.*"

