name: Make synvek test

on:
    workflow_dispatch:

jobs:
  main-job:
    runs-on: ubuntu-latest

    steps:
      - name: create file
        run: |
          mkdir artifacts
          echo "Hello" > test.txt
          mv test.txt artifacts/test.txt

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: synvek-explorer-artifacts-macos
          path: artifacts
          retention-days: 2       

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Process artifacts
        run: |
          ls -la artifacts/
          echo "ss"
          ls -la artifacts/synvek-explorer-artifacts-macos
          echo "s2s"

