name: Make synvek release

on:
    workflow_dispatch:
      inputs:
        release_tag:
          description: 'Tag for new release'
          required: true
          type: string

jobs:
  # build-windows:
  #   uses: ./.github/workflows/build-windows.yml

  # build-linux:
  #   uses: ./.github/workflows/build-linux.yml

  build-macos-arm64:
    uses: ./.github/workflows/build-macos.yml

  # build-macos-intel:
  #   uses: ./.github/workflows/build-macos-intel.yml

  main-job:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    needs: 
      # - build-windows
      # - build-linux
      - build-macos-arm64
      # - build-macos-intel

    steps:
      - name: Setup
        run: |
          sudo apt install unzip

      - name: Disk space check
        run: |
          df

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Process artifacts
        run: |
          mkdir -p artifacts/release
          unzip artifacts/*.zip -d  artifacts/release

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{inputs.release_tag}}
          commit: "main"
          allowUpdates: true
          draft: true
          prerelease: true
          artifacts: "artifacts/release"

